4 Action delegates, 3 passing data
4 coroutines (DONE)
2 Instances of Inheritance 
2 Instances of interfaces (DONE)
3 Uses of Polymorphism (???)
5 different Mono Behaviors
2 lists using Add() and other methods (1/2)
Use of Functions that Return values (DONE)
Use of Functions with parameters (DONE)
Use of Static Variables (1/2??)
Use of Static Functions (DONE)
2 Switch Statements (1/2)
2 Whiles loops
2 For Loops
2 Foreach Loops (1/2)



DON'T DO THIS:
Scripts repeat without the use of functions or loops
Update more that once in the game
GameObject.Find or any related, or similar Methods
The use of “else if” more that once in an if statement rather than a switch statement
The use of tags instead of layers
Instantiate 
Destroy
RayCasting or any related or similar Methods
