4 Action delegates, 3 passing data
4 coroutines
2 Instances of Inheritance 
2 Instances of interfaces
3 Uses of Polymorphism
5 different Mono Behaviors
2 lists using Add() and other methods
Use of Functions that Return values
Use of Functions with parameters
Use of Static Variables
Use of Static Functions 
2 Switch Statements
2 Whiles loops
2 For Loops
2 Foreach Loops



DON'T DO THIS:
Scripts repeat without the use of functions or loops
Update more that once in the game
GameObject.Find or any related, or similar Methods
The use of “else if” more that once in an if statement rather than a switch statement
The use of tags instead of layers
Instantiate 
Destroy
RayCasting or any related or similar Methods
